@model Merp.Web.Site.Areas.Accountancy.Models.Invoice.SearchViewModel
<script>
    (function () {
        var homePageApp = angular.module('InvoiceArchive', []);
    }());
    (function (module) {
        var invoiceController = function ($scope, $http) {
            $scope.refreshInvoiceList = function () {
                var url = '/Accountancy/Invoice/Search_GetInvoiceList?status=' + $scope.status + '&kind=' + $scope.kind;
                //$scope.invoices = [];
                //if ($scope.jobOrderName)
                //    url += '&jobOrderName=' + $scope.jobOrderName;
                $http.get(url)
                    .then(
                        function (data) {
                            $scope.invoices = data.data.invoices;
                        },
                        function (data) {
                            console.log('some error happened.');
                        }
                    );
            }
        };
        module.controller('invoiceController', ['$scope', '$http', invoiceController]);
    }(angular.module('InvoiceArchive')))
    $(document).ready(function () {
        $(".modal-open").on("show.bs.modal", function () {
            $("body").attr("style", "padding-right:0px")
        });
    $("table").on("click",".test", function(){
    var uid = $(this).attr("data-uid");
        $.get("/Accountancy/Invoice/ModalDetail", {uid : uid}, function(result){
        var obj = result
        var arr = obj.rows;
        $("#modaltbody").empty();
        console.log(obj.client.name);
            $("#name").text(obj.client.name);
            $("#cf").text(obj.client.codiceFiscale);
            $("#streetName").text(obj.client.streetName);
            $("#cap").text(obj.client.postalCode);
            $("#city").text(obj.client.city);
            $("#country").text(obj.client.country);
            $("#description").text(obj.description);
            $("#total").text(obj.total + " " + obj.currency);
            for (var i=0; i < arr.length; i++)
            {
            var string = "<tr><td>" + arr[i].description + "</td><td>" + arr[i].quantity + "</td><td>" + arr[i].totalPrice + "</td><td>" + obj.currency + "</td></tr>";
        $("#modaltbody").append(string);
         }
            } );

        $("#myModal").modal();
            });
        });
</script>

<div class="row" data-ng-app="InvoiceArchive" data-ng-controller="invoiceController">
    <div class="row">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dateFrom" class="control-label col-md-2">Date from:</label>
                        <div class="col-md-10">
                            <input type="date" id="dateFrom" name="dateFrom" data-ng-model="dateFrom" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dateTo" class="control-label col-md-2">Date to:</label>
                        <div class="col-md-10">
                            <input type="date" id="dateTo" name="dateTo" data-ng-model="dateTo" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Supplier" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Supplier, new { htmlAttributes = new { @class = "form-control" } })
                            <span asp-validation-for="Supplier" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Customer" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Customer, new { htmlAttributes = new { @class = "form-control" } })
                            <span asp-validation-for="Customer" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="kind" class="control-label col-md-2">Kind:</label>
                <div class="col-md-10">
                    <select id="kind" name="kind" asp-items="Html.GetEnumSelectList<Merp.Web.Site.Areas.Accountancy.Models.Invoice.SearchViewModel.InvoiceKind>()" data-ng-model="kind" class="form-control">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="outstanding" class="control-label col-md-2">Status:</label>
                <div class="col-md-10">
                    <select id="status" name="status" asp-items="Html.GetEnumSelectList<Merp.Web.Site.Areas.Accountancy.Models.Invoice.SearchViewModel.InvoiceStatus>()" data-ng-model="status" class="form-control">
                        <option value="any" selected>Any</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <button class="btn" data-ng-click="refreshInvoiceList()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search</button>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th>Document type</th>
                <th>Date of issue</th>
                <th>Due date</th>
                <th>Supplier</th>
                <th>Customer</th>
                <th>Invoice #</th>
                <th>Price</th>
            </tr>
            <tr data-ng-repeat="invoice in invoices">
                <td>{{invoice.documentType}}</td>
                <td>{{invoice.date | date:'dd/MM/yyyy'}}</td>
                <td>{{invoice.dueDate | date:'dd/MM/yyyy'}}</td>
                <td>{{invoice.supplierName}}</td>
                <td>{{invoice.customerName}}</td>
                <td class="test" data-uid="{{invoice.uid}}" >{{invoice.number}}</td>
                <td>{{invoice.currency}} {{invoice.totalPrice | number : 2}}</td>
            </tr>
        </table>
    </div>
</div>
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div style="padding: 15px" id='myMC'>
                <br />
                <div class="form-group form-inline">
                    <label class="control-label col-md-3" style="text-align:right">Nome: </label>
                    <label class="control-label col-md-9" id="name"></label>
                </div>
                <div class="form-group form-inline">
                    <label class="control-label col-md-3" style="text-align:right">Codice Fiscale: </label>
                    <label class="control-label col-md-9" id="cf"></label>
                </div>
                <div class="form-group form-inline">
                    <label class="control-label col-md-3" style="text-align:right">Indirizzo: </label>
                    <label class="control-label col-md-9" id="streetName"></label>
                </div>
                <div class="form-group form-inline">
                    <label class="control-label col-md-3" style="text-align:right"></label>
                    <label class="control-label col-md-9" id="cap"></label>
                </div>
                <div class="form-group form-inline">
                    <label class="control-label col-md-3" style="text-align:right"></label>
                    <label class="control-label col-md-9" id="city"></label>
                </div>
                <div class="form-group form-inline">
                    <label class="control-label col-md-3" style="text-align:right"></label>
                    <label class="control-label col-md-9" id="country"></label>
                </div>
                <br />
                <div class="form-group form-inline">
                    <label class="control-label col-md-3" style="text-align:right">Descrizione: </label>
                    <label class="control-label col-md-9" id="description"></label>
                </div>
                <br />
                <table class="table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Descrizione</th>
                            <th>Quantità</th>
                            <th>Costo Totale</th>
                            <th>Valuta</th>
                        </tr>
                    </thead>
                    <tbody id="modaltbody"></tbody>
                </table>
                <br />
                <div class="form-group form-inline">
                    <label class="control-label col-md-3" style="text-align:right">Totale: </label>
                    <label class="control-label col-md-9" id="total"></label>
                </div>
            </div>
            
        </div>
    </div>
</div>
    @section head {
        <environment names="Development">
            <link type="text/css" rel="stylesheet" href="~/lib/jquery-ui/themes/smoothness/jquery-ui.css" />
        </environment>
        <environment names="Staging,Production,OnPremises,AzureCosmosDB,AzureMongoDB">
            <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.4/themes/smoothness/jquery-ui.css"
                    asp-fallback-src="~/lib/jquery-ui/themes/smoothness/jquery-ui.css"
                    asp-fallback-test="window.jQuery">
            </script>
        </environment>
    }
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        @{ await Html.RenderPartialAsync("_JqueryValidationBootstrapPartial"); }
        @{ await Html.RenderPartialAsync("_JqueryUIPartial"); }
    }
