@model List<Merp.Web.Site.Models.TrialViewModel.Film>;

@*<div>
    <div class="row">
        <input type="text" class="col-lg-3" />
        <input type="text" class="col-lg-3" />
        <input type="text" class="col-lg-3" />
        <input type="text" class="col-lg-3" />
    </div>
    <div class="form-inline">
        <div class="input-group">
            <span class="input-group-addon"><i></i></span>
            <input id="email" type="text" class="form-control" name="email" placeholder="Descrizione">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i></i></span>
            <input id="email" type="text" class="form-control" name="email" placeholder="Quantità">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i></i></span>
            <input id="email" type="text" class="form-control" name="email" placeholder="Prezzo">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i></i></span>
            <input id="email" type="text" class="form-control" name="email" placeholder="Tasse">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i></i></span>
            <input id="email" type="text" class="form-control" name="email" placeholder="Risultato">
        </div>
    </div>
</div>*@


@Html.DisplayForModel();